:root {
  --md-sys-color-primary: #efeeff;
  --md-sys-color-on-primary: #000000;
  --md-sys-color-primary-container: #b6bffd;
  --md-sys-color-on-primary-container: #000532;
  --md-sys-color-secondary: #efeeff;
  --md-sys-color-on-secondary: #000000;
  --md-sys-color-secondary-container: #bfc1d9;
  --md-sys-color-on-secondary-container: #070a1b;
  --md-sys-color-tertiary: #ffeaf6;
  --md-sys-color-on-tertiary: #000000;
  --md-sys-color-tertiary-container: #e1b6d3;
  --md-sys-color-on-tertiary-container: #1a0316;
  --md-sys-color-error: #ffece9;
  --md-sys-color-on-error: #000000;
  --md-sys-color-error-container: #ffaea4;
  --md-sys-color-on-error-container: #220001;
  --md-sys-color-background: #121318;
  --md-sys-color-on-background: #e4e1e9;
  --md-sys-color-surface: #121318;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #46464f;
  --md-sys-color-on-surface-variant: #ffffff;
  --md-sys-color-surface-dim: #121318;
  --md-sys-color-surface-bright: #504f56;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #1f1f25;
  --md-sys-color-surface-container: #303036;
  --md-sys-color-surface-container-high: #3b3b41;
  --md-sys-color-surface-container-highest: #46464c;
  --md-sys-color-outline: #f0effa;
  --md-sys-color-outline-variant: #c3c1cc;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-inverse-surface: #e4e1e9;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-inverse-primary: #3b447a;
  --md-sys-color-surface-tint: #bac3ff;
}
