:root {
  --md-sys-color-primary: #d6daff;
  --md-sys-color-on-primary: #172055;
  --md-sys-color-primary-container: #848dc8;
  --md-sys-color-on-primary-container: #000000;
  --md-sys-color-secondary: #d9dbf3;
  --md-sys-color-on-secondary: #222437;
  --md-sys-color-secondary-container: #8d8fa6;
  --md-sys-color-on-secondary-container: #000000;
  --md-sys-color-tertiary: #fdcfee;
  --md-sys-color-on-tertiary: #381c32;
  --md-sys-color-tertiary-container: #ac85a1;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-error: #ffd2cc;
  --md-sys-color-on-error: #540003;
  --md-sys-color-error-container: #ff5449;
  --md-sys-color-on-error-container: #000000;
  --md-sys-color-background: #121318;
  --md-sys-color-on-background: #e4e1e9;
  --md-sys-color-surface: #121318;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #46464f;
  --md-sys-color-on-surface-variant: #dddbe6;
  --md-sys-color-surface-dim: #121318;
  --md-sys-color-surface-bright: #44444a;
  --md-sys-color-surface-container-lowest: #07070c;
  --md-sys-color-surface-container-low: #1d1d23;
  --md-sys-color-surface-container: #27272d;
  --md-sys-color-surface-container-high: #323238;
  --md-sys-color-surface-container-highest: #3d3d43;
  --md-sys-color-outline: #b2b1bb;
  --md-sys-color-outline-variant: #908f99;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-inverse-surface: #e4e1e9;
  --md-sys-color-inverse-on-surface: #292a2f;
  --md-sys-color-inverse-primary: #3b447a;
  --md-sys-color-surface-tint: #bac3ff;
}
