:root {
  --md-sys-color-primary: #283267;
  --md-sys-color-on-primary: #ffffff;
  --md-sys-color-primary-container: #6069a2;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-secondary: #323548;
  --md-sys-color-on-secondary: #ffffff;
  --md-sys-color-secondary-container: #696c81;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-tertiary: #4b2c43;
  --md-sys-color-on-tertiary: #ffffff;
  --md-sys-color-tertiary-container: #86627c;
  --md-sys-color-on-tertiary-container: #ffffff;
  --md-sys-color-error: #740006;
  --md-sys-color-on-error: #ffffff;
  --md-sys-color-error-container: #cf2c27;
  --md-sys-color-on-error-container: #ffffff;
  --md-sys-color-background: #fbf8ff;
  --md-sys-color-on-background: #1b1b21;
  --md-sys-color-surface: #fbf8ff;
  --md-sys-color-on-surface: #101116;
  --md-sys-color-surface-variant: #e3e1ec;
  --md-sys-color-on-surface-variant: #35363e;
  --md-sys-color-surface-dim: #c7c5cd;
  --md-sys-color-surface-bright: #fbf8ff;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #f5f2fa;
  --md-sys-color-surface-container: #e9e7ef;
  --md-sys-color-surface-container-high: #dedce3;
  --md-sys-color-surface-container-highest: #d2d0d8;
  --md-sys-color-outline: #51525b;
  --md-sys-color-outline-variant: #6c6c76;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-inverse-surface: #303036;
  --md-sys-color-inverse-on-surface: #f2eff7;
  --md-sys-color-inverse-primary: #bac3ff;
  --md-sys-color-surface-tint: #515b92;
}
